[WordGroups]
Insight = perhaps,think,believe,know,concept,thought,knew,formulate,thinking,belief,conceptualize,knowledge,knowing,concepts,grasp,understand,comprehend
Certainty = always,never,certain,definite,every
Sources = source,sources,site,sites,paper,papers,report,reports,article,articles,reference,references
Timeframe = now,currently,present,past,future,presently,arcaic,old,new,out,dated,before
Tentative = maybe,might,guess,suppose,can,sometimes,tentative,perhaps
FirstPerson = i,me,my,mine,i've,i'd,i'm,i'll,myself
SecondPerson = you,your,you're,yours,thou,yourself,yourselves
ThirdPersonS = he,she,his,her,him,hers,he'll,she'll,he'd,she'd,he's,she's,herself,himself
ThirdPersonP = they,their,theirs,the',ll,the',d,the',ve,themself,themselves
ObjectPron = it,its,it's,itself,those,these,that,this
